
			#header{
				width: 100%;
				height: 150px;
				background: blue;
			}

			#menu{
				width: 100%;
				height: 50px;
				background: red;
			}
			#left{
				width: 25%;
				height: 500px;
				background: #E9F019;
				display: inline-block;
				}

				#center{
				width: 49%;
				height: 500px;
				background: #19F044;
				display: inline-block;				
			}
				#right{
				width: 25%;
				height: 500px;
				background: #F09A19;
				display: inline-block;
			}
				#footer{
				width: 100%;
				height: 50px;
				background: #E69CF7;
				}
				