/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

table {
	border: 0.01px ;
	width: 100%;
	background: #CFCFCF;
;

}


#navegacao {
	background: #fff;
	text-align:;
	top: -50%;
	

}

#area {
width: 100%; 
}

#area-principal {

background: green;
margin-left: 10px;
width: 95%;
height: 70%;
background: linear-gradient(135deg , #E8E8E8,#A2CD5A);,
box-sizing: border-box;
box-shadow: 10px 10px gray;
border-radius: 15px 15px 15px 15px;

}
p {
	text-align: justify;
	margin-left: 5px;
	margin-right: 5px;
}

#logo {
	margin-left: 15px;
	text-align: left; 
	font-size: 35px;
	width: 30%;
}

#menu {
 /*float: left; width: 60%;*/
 text-align: right; 
 margin-right: 20px;
 position: relative;
 font-size: 18px;
 top: 80%;

}

#postagem {
	
	
}
hr {
margin-left: 5px;
margin-right: 5px;

}
h2 {
	text-shadow: 2px 2px gray;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 15px;
	color: #BCEE68;
	
}

/****************************************************
***********************Formatação do menu************/
a {
	
}
/*Links não visitados*/
a:link {
color: #9C9C9C;
text-decoration: none;

}

/*Links vistados*/
a:visited {
	color: #9C9C9C;	
	text-decoration: none;
}

/*Links hover*/
a:hover {
	color: #FFFFFF;
	background: #CAFF70;
	
}

/*Links active*/
a:active {
	color:none;
}


/*Classes*/
.verde {
color: #BCEE68;
}

.data-postagem {
	
	
}

.img-postagem{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	border-radius: 10px 10px 10px 10px;
	
}

.postado {
	margin-left: 15px;
	
}