/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

table {
	border: 0.01px ;
	width: 100%;
	background: #CFCFCF;
;

}


#navegacao {
	background: #fff;
	text-align:;
	top: -50%;
	

}

#area {
width: 100%; 
}

#area-principal {

}

#logo {
	text-align: left; 
	width: 20%;
}

#menu {
 /*float: left; width: 60%;*/
 text-align: right; 
 position: relative;
 top: 80%;

}

#postagem {
	
	
}

h2 {
	
}

/****************************************************
***********************Formatação do menu************/
a {
	
}
/*Links não visitados*/
a:link {
color: #9C9C9C;
text-decoration: none;

}

/*Links vistados*/
a:visited {
	color: #9C9C9C;	
	text-decoration: none;
}

/*Links hover*/
a:hover {
	color: #90EE90;
	
}

/*Links active*/
a:active {
	color:none;
}


/*Classes*/
.verde {
color: #BCEE68;
}

.data-postagem {
	
	
}

.img-postagem{
	
}

.postado {
	
	
}